* {
    padding: 0px;
    margin: 0px;
    list-style: none;
}
/* CABEÇALHO */
body{
    font-family: "Rubik", sans-serif;
}
.wtspace{
    height: 74px;
}
.wtspace img{
    width: 245px;
}
.blspace{
    height: 56px;
    background-color: var(--color1);
}
.blspace ul{
    gap: 80px;
}
.blspace ul a{
    color: var(--color2);
    font-weight: var(--peso-normal);
}

/* PÁGINA INICIAL*/

/* - HERO - */
main .pri{
    background-image: linear-gradient(rgba(3, 120, 166, 0.80), rgba(3, 120, 166, 0.80) ), url(../img/wlcmimg.png);
    background-size: cover;
    height: 455px;
}
main .wlcm{
    width: var(--width-pc);
    padding: var(--padd-max);
    position: relative;
    height: 455px;
    color: var(--color2);
}
.wlcm h1{
    font-weight: var(--peso-leve);
    font-size: 40px;
}
.wlcm h2{
    font-size: 14px;
    font-weight: 300px;
    position: absolute;
    left: 290px;
}

/* LINKS PARA SERVIÇOS E CURSOS*/
main .sec{
    background: var(--color3);
    height: 417px;
}
main .secback{ 
    width: 983px;
    height: 629px;
    background-image: url(../img/Rec\ 1.png);
    z-index: 1000;
}
main .sec .info1{
    margin-top: 65px;
    padding: 60px;
}
main .sec .info1 h1{
    color: var(--color1);
    font-size: var(--fs-pc-pqn);
    font-weight: var(--peso-semi);
}
main .sec .info1 .infdiv{
    margin-top: 30px;
    gap: 30px;
}
main .sec .info1 .infdiv div{
    width: 405px;
    height: 266px;
    border: var(--color1) 2px solid;
    border-radius: 10px;
    overflow: hidden;
}
main .sec .info1 .infdiv a{
    position: relative;
    overflow: hidden;
}
main .sec .info1 .infdiv a img{
    width: 100%;
    object-fit: cover;
}
main .terc{
    background-image: url(../img/img.svg);
    background-size: cover;
    height: 750px;
}
main .terc .info2{
    width: var(--width-pc);
    margin: 0px auto;
    text-align: center;
    padding-top: var(--padd-max);
    height: auto;
    color: var(--color2);
}
main .terc .info2 p{
    font-weight: var(--peso-leve);
}
main .info3{
    width: var(--width-pc);
    color: var(--color1);
}
.info3 ul{
    font-weight: var(--peso-normal);
    font-size: var(--fs-pc-pqn);
}

.penul{
    background-image: url(../img/Rectangle\ 85.svg);
    background-size: cover;
    height: 800px;
}
.penul .info4{
    color: #fff;
    padding: 200px;
    gap: 54px;
}
.penul .info4 img{
    height: 96px;
    margin: 20px;
}
.penul .info4 h1{
    margin-bottom: 30px;
}
.penul .info4 p{
    font-size: var(--fs-pc-pqn);
    font-weight: var(--peso-normal);
}
.penul .info4 .mtv{
    flex-direction: row;
}
.penul .info4 .midle{
    flex-direction: row-reverse;
}
.penul .info4 .midle h2, .penul .info4 .midle p {
    text-align: right;
}
.info5 p{
    color: var(--color1);
    text-align: center;
}
.info5 .contact{
    margin-top: 50px;
}
.info5 .contact a{
    padding: 10px 25px;
    border-radius: 6px;
    margin: 0 30px;
}
.info5 .contact .num{
    background-color: #1BDDF2;
}
.info5 .contact .wts{
    background-color: #25D366;
}
.info5 .links{
    margin-top: 50px;
}

.info5 .links .filho div{
    margin: 100px;
}
.info5 .links .filho div img{
    height: 94px;
}
.info5 .links h2{
    color: var(--color4);
}

/*Rodapé*/

footer a{
    color: var(--color2);
}
footer{
    position: relative;
    background: var(--color1);
    color: var(--color2);
}
footer .fim{
    padding: var(--padd-min2);
}
footer p{
    font-size: 15px;
    color: var(--color2);
}
.fim .ft1, .ft2{
    padding: 15px 0px;
    border-bottom: 1px #fff solid;
}
.fim .ft1{
    font-size: 16px;
    font-weight: var(--peso-normal);
}
.fim .ft1 div a ion-icon{
    color: var(--color2);
    font-size: 18px;
    margin: 0 7.5px;
}

.ft2 .footer-menu{
    list-style: none;
    gap: 80px;
}
.ft3{
    padding: 15px 0px;
    margin-bottom: 20px;
}
.cdts{
    padding: var(--padd-min2);
}
.cdts a{
    color: #ffffffd3;
}


/*Página de Cursos*/
.recdir{
    position: absolute;
    right: 0;
    top: 350px;
}
.recesq{
    position: absolute;
    left: 0;
    top: 605px;
}
.intro{
    text-align: center;
    width: 835px;
    font-size: 20px;
    margin: 50px auto;
    font-weight: 400;
}
.intro strong{
    color: #1BDDF2;
}
.recomendados{
    margin: 0 auto;
    width: 900px;
    text-align: center;
}
.recomendados h2{
    color: #FF9141;
    margin-bottom: 10px;
}  
.recomendados p{
    margin-bottom: 100px;
    font-size: 20px;
    font-weight: 400;
}  
.recomendados .filhor{
    position: relative;
    padding: 15px;
    display: flex;
    justify-content: space-around;
    width: 876px;
    height: 270px;
    border-radius: 6px;
    border: #0378A6 2px solid;
}
.recomendados .filhor .opc{
    width: 265px;
    height: 279px;
    background: #1bddf2aa;
    z-index: 1000;
    position: absolute;
}
.recomendados .filhor .um{
    top: -40px;
    left: 30px;
}
.recomendados .filhor .dois{
    top: -67px;
    transition: 0.7s;
}
/*.recomendados .filhor .dois:hover{
    transition: 0.7s;
    top: -67px;
}*/
.recomendados .filhor .tres{
    top: -20px;
    right: 30px;
}

.maiscursos{
    width: 835px;
    margin: 40px auto;
    text-align: center;
}
.maiscursos h2{
    font-size: 16px;
    color: #0378A6;
    font-weight: 600;
}
.maiscursos .listac{
    margin-top: 50px;
    display: flex;
    gap: 20px;
    margin-bottom: 50px;
}
.maiscursos .listac div img{
    width: 195px;
    height: 121px;
    object-fit: cover;
}
.maiscursos .listac div .nome{
   font-size: 16px;
   font-weight: 600;
}
.maiscursos .listac div .preco{
    font-size: 16px;
    font-weight: 400;
 }
.tlvz{
    position: relative;
    width: 835px;
    height: 550px;
    margin: 40px auto;
    display: flex;
    flex-direction: column;
}
.tlvz h1{
    text-align: center;
    font-size: 20px;
    font-weight: 900;
}
.tlvz h2{
    text-align: center;
    font-size: 16px;
    font-weight: 400;
}
.tlvz .cada{
    margin-top: 60px;
    position: relative;
    display: flex;
    justify-content: center; 
}
.tlvz .cada div{
    position: absolute;
    text-align: center;
    width: 206px;
    height: auto;
}
.tlvz .cada div p{
    font-size: 16px;
    margin-top: 7px;
}
.tlvz_um{
    left: 60px;
    top: 183px;
}
.tlvz_tres{
    right: 60px;
    top: 183px;
}
.tbm{
    width: 835px;
    height: 100px;
    font-size: 16px;
    text-align: center;
    margin: 0 auto;
}
.tbm a{
    text-decoration: none;
    color: #1BDDF2;
    font-weight: 500;
}
/*Página de serviços*/


.lista_servicos{
    display: flex;
    width: 835px;
    margin: 0 auto;
    gap: 20px;
    flex-wrap: wrap;
    margin-bottom: 60px;
}
.servico_indiv{
    position: relative;
    width: 404px;
    height: 150px;
    display: flex;
    gap: 10px;
    border-top: #1BDDF2 solid 2px;
}
.lista_servicos .servico_indiv img{
    width: 150px;
    height: 150px;
    object-fit: cover;
    min-width: 150px;
}
.lista_servicos .servico_indiv h2{
    font-size: 16px;
}
.lista_servicos .servico_indiv p{
    overflow: hidden;
    position: relative;
    line-height: 1.2em;
    max-height: 3.5em;
}
.lista_servicos .servico_indiv p:before {
    content: '...';
    position: absolute;
    right: 0px;
    bottom: 0;
    background-color: #ffffff;
    padding: 0 0px 0 0.25em;
}
.servico_indiv .info_link{
    position: absolute;
    bottom: 0;
    right: 0;
    padding: 10px 20px;
    border-radius: 5px;
    text-decoration: none;
    background: #1BDDF2;
    color: #fff;
}
.eli1{
    position: absolute;
    right: 0;
    top: 576px;
    
}
.eli2{
    position: absolute;
    left: 0;
    top: 342px;
}


/* Curso individual*/

.maincurso{
    width: 835px;
    height: 100vh;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
}
.maincurso .informa_curso{
    width: 610px;
    padding: 10px;
    margin: 10px;
    min-width: 610px;
    display: flex;
    flex-direction: column;
}
.informa_curso img{
    width: 610px;
    object-fit: cover;
    min-height: 382px;
    border-radius: 5px;
}
.informa_curso h1{
    font-size: 24px;
}
.informa_curso h2{
    font-size: 20px;
    color: #FF9141;
}
.maincurso .mais_cursos{
    width: 170px;
    padding: 10px;
    margin: 10px;

}
.mais_cursos h2{
    font-size: 20px;
}
.mais_cursos .curso_sugest img{
    max-height: 150px;
    width: 170px;
    object-fit: cover;
    border-radius: 5px;
}
.mais_cursos .curso_sugest p{
    font-size: 16px;
    text-align: center;
}
/*Página de serviços*/
.servico_div{
    width: 835px;
    margin: 0 auto;
    margin-top: 40px;
}
.serv_imgs{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}
.serv_imgs img{
    width: 278.3px;
    height: 200px;
    object-fit: cover;
}
.galeriadoservico{
    margin-top: 30px;
    display: flex;
    flex-wrap: wrap;
    max-width: 100%x;
}
.galeriadoservico > a img{
    margin: 2.5px;
    min-width: 200px;
    max-width: 100%;
    height: 150px;
    flex: 1 1 200px;
    object-fit: cover;
}
.solicit_form{

    width: 835px;
    margin: 30px auto;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    border: #0378A6 solid 1px;
    height: auto;
    overflow: hidden;
}
.solicit_form h1{
    background: #0378A6;
    color: #fff;
    text-align: center;
    font-size: 18px;
    padding: 10px;
}
.solicit_form  p{
    text-align: center;
    color: #272727;
    margin: 10px;
}
.solicit_form form{
    display: flex;
    flex-wrap: wrap;
    width: 80%;
    flex-direction: column;
    padding: 20px;
    margin: 0 auto;
}
.solicit_form form input{
    padding: 10px 5px;
    border-radius: 5px;
    width: 95%;
    border: #0378A6 solid 1px;
    font-size: 16px;
}
.solicit_form form input[type='submit']{
    background: #1BDDF2;
    color: #fff;
    font-weight: 600;
    width: 200px;
    margin: 10px auto;
}
.solicit_form form textarea{
    padding: 10px 5px;
    max-width: 95%;
    max-height: 200px;
    min-width: 95%;
    min-height: 100px;
    border: #0378A6 solid 1px;
    border-radius: 5px;
}
.login_main{
    height: 74vh;
    background-image: linear-gradient(rgba(3, 120, 166, 0.80), rgba(3, 120, 166, 0.80) ), url(../assets/img/login_background.jpg);
    background-size: cover;
}
.login_footer{
    height: 8.2vh;
}
.form_login{
    position: relative;
    width: 760px;
    height: 300px ;
    background: #fff;
    margin: 0 auto;
    border-radius: 5px;
    display: flex;
}
.form_login div{
    display: flex;
    flex-direction: column;
    width: 50%;
    padding: 20px;
    margin: 20px;
    text-align: center;
}
.form_login .form_inputs{
    border-right: #0378A6 solid 1px;
}
.form_login h1{
    font-size: 20px;
    color: #0378A6;
}
.form_login div input{
    padding: 10px 5px;
    width: 90%;
    margin: 5px auto;
    border-radius: 5px;
    border: #0378A6 solid 1px;
}
.form_login div input[type='submit']{
    background-color: #1BDDF2;
    color: #fff;
    font-weight: 600;
    border: none;
}
.login_elipse1{
    position: absolute;
    left: -100px;
    top: -60px;
}
.login_elipse2{
    position: absolute;
    bottom: 20px;
    right: -100px;
}

/*Adm - Page*/

.main_adm{
    display: flex;
    flex-direction: row;
}
.main_adm .menu_lateral{
    position: fixed;
    width: 70px;
    height: 100vh;
    background: #0378A6;
}
.main_adm .adm_main{
    padding-left: 6vw;
    width: 96vw;
}
.adm_main h1{
    text-align: center;
    font-weight: 500;
    font-size: 25px;
    margin: 20px;
}
.adm_main h2{
    text-align: center;
    font-weight: 600;
    font-size: 16px;
    margin: 20px;
}
.adm_main .some_adm_mainpage_views{
    display: flex;
    width: 900px;
    margin: 10px auto;
}
.adm_main .some_adm_mainpage_views .v_adm{
    width: 250px;
    padding: 5px;
    height: 80px;
    border: #0378A6 solid 2px;
    display: flex;
    align-items: center;
    border-radius: 5px;
    margin: 20px;
}
.adm_main .some_adm_mainpage_views div ion-icon{
    font-size: 50px;
    color: #0378A6;
    margin: 10px;
}
.adm_main .some_adm_mainpage_views .name_view{
    font-weight: 600;
    font-size: 16px;
    color: #0378A6;
}
.adm_main .some_adm_mainpage_views .number_view{
    font-weight: 700;
    font-size: 16px;
    color: #FF9141;
}
.adm_main .cabecalho{
    border-bottom: #0378A6 solid 2px;
}
.adm_main .logo{
    height: 74px;
}
.adm_main .some_adm_mainpage_links{
    display: flex;
    width: 800px;
    margin: 0 auto;
}
.adm_main .some_adm_mainpage_links a{
    font-weight: 600px;
    text-decoration: none;
}
.adm_main .some_adm_mainpage_links .l_adm{
    background: #0378A6;
    color: #fff;
    padding: 10px 20px;
    margin: 10px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    flex-direction: row;
}
.adm_main .some_adm_mainpage_links div ion-icon{
    margin: 10px;
}
/*Adm - acoes*/
.gallery-items a ion-icon{
    color: #fff;
}
.lixo{
    padding: 10px;
    border-radius: 6px;
    margin: 5px;
    color: #fff;
    background: #d52727;
}

table ion-icon{
    color: #fff;
    font-size: 20px;
}
.edit{
    padding: 10px;
    border-radius: 6px;
    margin: 5px;
    background: #2775d5;
}

.arquivar{
    padding: 10px;
    border-radius: 6px;
    margin: 5px;
    background: #d59b27;
}


/*Adm - Sidebar*/
#menu_lateral{

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background: #0378A6;
    height: 100vh;
    border-radius: 0px 10px 10px 0px;
    position: fixed;
    transition: all .5s;
    min-width: 82px;
}
#menu_lateral_content{
    padding: 18px;
}
#adm_avatar{
    width: 50px;
    height: 50px;
    object-fit: cover;
}
#adm_user{
    display: flex;
    align-items: center;
    gap: 8px;
    margin-bottom: 30px;
}
#adm_infos{
    display: flex;
    flex-direction: column;
}
#adm_infos span{
    color: #fff;
}
#adm_infos span:last-child{
    font-size: 12px;
}
#itens_laterais{
    display: flex;
    flex-direction: column;
    gap: 8px;
    list-style: none;
    color: #fff;
}
.item_lateral{
    border-radius: 8px;
    cursor: pointer;
    padding: 12px;
}
.item_lateral a{
    color: #fff;
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
}
.item_lateral a ion-icon{
    font-size: 20px;
}
.item_lateral.ativo{
    background: #fff;
}
.item_lateral.ativo a{
    color: #0378A6;
}
.item_lateral:hover:not(.ativo), #logout_btn:hover{
    background: #1bddf2b7;
    transition: 0.5s;
}
#logout{
    padding: 12px;
    border-top: 1px solid #fff;
}
#logout_btn{
    border: none;
    padding: 12px;
    font-size: 14px;
    display: flex;
    align-items: center;
    gap: 20px;
    border-radius: 8px;
    text-align: start;
    cursor: pointer;
    background-color: transparent;
    color: #fff;
}
#logout_btn a{
    text-decoration: none;
    color: #fff;
}
#logout_btn ion-icon{
    font-size: 22px;
}
#open_btn{
    position: absolute;
    top: 30px;
    right: -10px;
    background-color: #fff;
    border-radius: 100%;
    color: #0378A6;
    width: 20px;
    height: 20px;
    border: #0378A6 1.3px solid;
    font-size: 18px;
    cursor: pointer;
}
#open_btn_icon{
    transition: transform .3s ease;
}
.menu_aberto #open_btn_icon{
    transform: rotate(180deg);
}
.adm_description{
    width: 0px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    transition: width .6s;
    height: 0px;
}
#menu_lateral.menu_aberto{
    min-width: 200px;
}
#menu_lateral.menu_aberto .adm_description{
    width: 150px;
    height: auto;
}
#menu_lateral.menu_aberto a{
    justify-content: flex-start;
    gap: 14px;
}
.adm_main .table, .novoservico, .novocurso, .list-group{
    width: 900px;
    margin: 0 auto;
}
.btn.btn-primary{
    background: #0378A6;
}
.input-group-text{
    background: #0378a695;
    color: #fff;
}
/*Next - servico*/
#servico_foto_form input[type='file']{
    display: none;
}
/*Galeria adm*/

.galeria_adm{
    display: flex;
    flex-wrap: wrap;
    width: 900px;
    margin: 0 auto;
}
.galeria_adm img{
    width: 200px;
    object-fit: cover;
    min-height: 200px;
    margin: 5px;
}
.servico_div h4{
    text-align: center;
    font-size: 14px;
    font-style: italic;
}
.servico_div p{
    text-align: center;
}
.bg-primary{
    color: #fff;
}
.bg-primary a{
    color: #fff;
}
.main_g gallery-container{
    height: auto;
}
@media only screen and (max-width: 600px){
    body{
        width: 100%!important;
    }
    /*Menu responsivo*/
    .wtspace{
        width: 100%;
        height: 45.73px;
    }
    .wtspace img{
        width: 150px;
        margin: 0 auto;
    }
    .blspace{
        height: 56px;
        background-color: #0378A6;
        display: flex;
        align-items: center;
    }
    .blspace ul{
        display: flex;
        flex-direction: row;
        gap: 80px;
        list-style: none;
        width: 835px;
        margin: 0 auto;
    }
    .blspace ul a{
        color: #fff;
        text-decoration: none;
        font-family: "Rubik", sans-serif;
        font-optical-sizing: auto;
        font-weight: 500;
        font-style: normal;
    }
    /*Pagina inicial responsiva*/
    main .pri{
        height: 100vh;
    }
    main .wlcm{
        width: 100%;
        margin: 0 auto;
        padding: 30px;
        position: relative;
        height: 455px;
        font-family: "Rubik", sans-serif;
        font-optical-sizing: auto;
        font-style: normal;
        color: #fff;
        
    }
    .wlcm h1{
        font-weight: 400;
    }
    .wlcm h2{
        font-size: 14px;
        font-weight: 300px;
        position: absolute;
        left: 290px;
    }
    .vrms{
        padding: 8px 16px;
        background-color: aqua;
        color: #fff;
        text-decoration: none;
        font-weight: 600;
        border-radius: 5px;
        text-shadow: none;
    }
    .backimg{
        width: 100%;
    }
    /*Footer Responsivo*/

    footer{
        background: #0378A6;
        height: 290px;
    }
    footer .fim{
        padding: 10px;
        width: 90%;
    }
    .fim .ft1, .ft2, .ft3{
        padding: 20px 10px;
        border-bottom: 1px #fff solid;
    }
    .fim .ft1{
        display: flex;
        color: #fff;
        font-size: 16px;
        font-weight: 500;
        justify-content: space-around;
    }
    .ft2 .footer-menu{
        display: flex;
        flex-direction: row;
        list-style: none;
        justify-content: space-around;
        gap: 15px;
    }
    /*Curso individual*/

    .maincurso{
        width: 100%;
        flex-direction: column;
    }
    .maincurso .informa_curso{
        width: 80%;
        padding: 10px;
        margin: 10px;
        min-width: 80%;
    }
    .informa_curso img{
        width: 100%;
        object-fit: cover;
        min-height: 100px;
        border-radius: 5px;
    }
    .maincurso .mais_cursos{
        width: 100%;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        height: 200px;
    }
    .mais_cursos h2{
        display: none;
    }
    .main_cursos .curso_sugest{
        width: 40%;
        gap: 5px;
    }
    .mais_cursos .curso_sugest img{
        max-height: 150px;
        width: 80%;
        border-radius: 5px;
    }
    .mais_cursos .curso_sugest p{
        font-size: 16px;
        text-align: center;
    }

}